@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "bootstrap/scss/bootstrap";

ul {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
}
a {
  text-decoration: none;
}
